* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.hiiii {
	display: block !important;
	text-align: center;
	font-size: 2rem;
	margin-top: 10px;
}

.rowmid {
	justify-content: center !important;
}
.colmid {
	justify-content: center !important;
}
.col1mid {
	padding: 5px;
	padding-bottom: 15px;
	border: solid #a333c8 4px;
}
.import {
	margin: 0 !important;
}
#stopit {
	cursor: text !important;
	text-decoration: None !important;
}
.goforit:valid {
	border: 1px solid #a333c8 !important;
}
